html,
body {
  font-size: 10px;
  background-color: #a83c3c;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #282828;
  height: 7rem;
  padding: 1rem;
}

header a {
  text-decoration: none;
}

.headerTitle {
  text-align: center;
  margin: 1rem 0 0 1rem;
  font-size: 3rem;
  color: #59bdff;
}

.headerDesc {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  color: #597aff;
}

.section {
  margin: 6rem;
  text-align: center;
}

.sectionSearch,
.sectionInput {
  font-size: 2.75rem;
  height: 3.5rem;
  width: 50%;
  border-radius: 5px;
}

.resultList {
  background-color: #282828;
  opacity: 95%;
  text-align: center;
  margin: 0 25%;
}
.resultList li {
  padding: 0.5rem;
}
.resultList a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
}

.sectionDesc {
  font-size: 1.7rem;
}

.sectionBtn {
  width: 20%;
  height: 4rem;
  background-color: white;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0 1rem;
  border-radius: 5px;
}
.sectionBtn:hover {
  cursor: pointer;
  background-color: #cfcaca;
}

.sectionBox {
  border-color: black;
  border: 0.2rem solid black;
  padding: 1rem 5%;
  margin: 0.5rem 20%;
  width: 50%;
}
.sectionBox a {
  font-size: 1.5rem;
  color: white;
}
.sectionBox li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.sectionBox img {
  width: 1.7rem;
  padding: 0 1rem 0 0;
}
.sectionBox button {
  font-weight: bold;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #282828;
  padding: 1rem;
  text-align: center;
}

.footerDesc {
  font-size: 1.25rem;
  display: inline;
}

.footerLink {
  font-size: 1.75rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 1.25rem;
}

a:hover {
  color: aqua;
}
